.vs/
ProTagger/obj/
ProTagger/bin/
ReacitveMvvm/bin/
ReacitveMvvm/obj/
ProTaggerTest/bin/
ProTaggerTest/obj/
ReactiveMvvmTest/bin/
ReactiveMvvmTest/obj/
CurrencyCalculator/bin/
CurrencyCalculator/obj/
CurrencyCalculator/FodyWeavers.xsd
ReactiveSandbox/bin/
ReactiveSandbox/obj/
DoubleClick/bin/
DoubleClick/obj/
*.user
